<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Country</title>
</head>
<body>
  <h1>COUNTRY FORM</h1>
 <form action="{% url 'country' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <label for="">Country Name</label> <br>
  <input type="text" name="country_name" id=""><br>

  <label for="">Code</label><br>
  <input type="text" name="code" id=""><br>

  <label for="">slug</label><br>
  <input type="text" name="slug" id=""><br>

  <label for="">flag</label><br>
  <input type="file" name="flag" id=""><br>

  <label for="">State Available</label>
  <input type="checkbox" name="state_available" value="1" id=""><br>

  <button type="submit">Submit</button>
 </form> <br>

 <div style="display: flex;column-gap: 5px;">
 <a href="{% url 'state' %}"><button><b>Add State</b></button></a><br><br>
 <a href="{% url 'city' %}"><button><b>Add City</b></button></a><br><br>
 </div>

 <table border="1px">
  <tr>
  <th>Country Name</th>
  <th>Code</th>
  <th>Slug</th>
  <th>Flag</th>
  <th>State Available</th>
  <th>Active</th>
  <th>Action</th>
 </tr>
{% for item in country %}
 <tr>
  <td>{{item.name}}</td>
  <td>{{item.code}}</td>
  <td>{{item.slug}}</td>
  <td><img src="{{item.flag.url}}" alt="flag" width="50px"></td>
  
  {% if item.is_state_available %}
    <td>Add State</td>
  {% else %}
    <td>Add City</td>
  {% endif %}

  {% if is_active %}
    <td>Active</td>
  {% else %}
    <td>In-active</td>
  {% endif %}
 
  <td style="display: flex;">
    <a href="{% url 'countryupdate' item.id %}"><button>Edit</button></a>

    <form action="{% url 'country' item.id %}" method="post">
     {% csrf_token %}
    <button type="submit">Delete</button>
     </form>

   </td>
 </tr>
 {% endfor %}
 </table>
</body>
</html>